@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


*{
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  color: hsl(0, 0%, 95%);
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 65rem;
  height: 100vh;
}

h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 20px;
  margin-bottom: 120px;
}

.btn{
  display: inline-flex;
  width: auto;
  height: auto;
  background-color: hsl(0, 0%, 95%);
  color: black;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 20px;
  border: none;
}

.grid-btn{
  display: inline-flex;
  width: auto;
  height: auto;
  background-color: hsl(119, 69%, 25%);
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  border-radius: 20px;
  border: none;
}

.grid-btn:hover {
  background-color: transparent;
  border: 2px solid  hsl(24, 59%, 47%);
  color: hsl(0, 3%, 7%);
}

.btn:hover {
  background-color: transparent;
  border: 2px solid  hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}


.container{
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content{
  width: 300px;
  height: 500px;
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}

.sedan{
  background: hsl(31, 77%, 52%);
}

.suv{
  background: hsl(184, 100%, 22%);
}

.luxury{
  background: hsl(179, 100%, 13%);
}

@media only screen and (max-width: 380px) {
h2 {
  font-size: 1.7rem;
}
  main {
  margin: 0 auto;
  width: 90%;
  height: 100%;
}
  
  .container {
  flex-wrap: wrap;
  margin: 3rem auto;
  width: 100% ;
  gap: 10px;
}
.content {
  width: 90% ;
  height: auto;
}

  .content-wrapper {
  padding: 30px;
}
  .btn {
    text-align: center;
    margin: 0 auto;
    width: 70%;
  }

}

.grid-container{
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 150px 150px;
}

.grid-container{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 80px 60px 80px 80px;
    gap: 10px;
    background-color: #1A1C28;
    top:20%;
    right:35%;
    padding: 100px;
    position: absolute; 
}

.grid-container > div {
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }

.grid-item1{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #EB5020;
}

.grid-item2{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #FFA401;
}

.grid-item3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
    background-color: #05AA42;
}

.grid-item4{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: #01AEFD;
}
.grid-item5{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: #01AEFD;
}

